<footer class="footer">
  <div class="footer__desktop">
    <div class="wrapper">
      <div class="footer__top">
        <div class="footer__col">
          <div class="footer__form-container">
            <p>Получайте выгодные  предложения, просто оставьте свою почту!</p>
            <form>
              <label>
                <input type="email" placeholder="Ваш email" required>
              </label>
              <button type="submit" aria-label="Отправить форму" class="footer__form-button"></button>
            </form>
          </div>

          <div class="footer__social">
            Мы в соцсетях
            <div class="footer__social-links">
              <a class="footer__social-link" href="#" aria-label="Вконтакте"><svg width="15" height="19"><use xlink:href="img/sprite_auto.svg#vk-icon"></use></svg></a>
              <a class="footer__social-link" href="#" aria-label="Facebook"><svg width="13" height="25"><use xlink:href="img/sprite_auto.svg#fb-icon"></use></svg></a>
              <a class="footer__social-link" href="#" aria-label="Одноклассники"><img src="img/ok_logo.png" alt="Логотип Одноклассники" width="25" height="25"></a>
            </div>
          </div>

          <div class="footer__contacts">
            У вас остались вопросы? Позвоните нам!
            <a class="footer__contacts-link" href="tel:88123222266">8 (812) 322-22-66</a>
            <a class="footer__contacts-link" href="tel:88001002112">8 (800) 100-21-12</a>
          </div>
        </div>

        <div class="footer__col">
          <a class="footer__link footer__link--title" href="#">Каталог</a>
          <a class="footer__link" href="#">Сухие смеси, грунты</a>
          <a class="footer__link" href="#">Гидро- и тепло- изоляция</a>
          <a class="footer__link" href="#">Гипсокартон</a>
          <a class="footer__link" href="#">Двери, окна, фурнитура</a>
          <a class="footer__link" href="#">Пиломатериалы</a>
          <a class="footer__link" href="#">Кровля, водосток</a>
          <a class="footer__link" href="#">Лаки, краски, герметики</a>
          <a class="footer__link" href="#">Отделочные материалы</a>
          <a class="footer__link" href="#">Общестроительные</a>
          <a class="footer__link" href="#">Сантехника, вентиляция</a>
          <a class="footer__link" href="#">Электротехника</a>
          <a class="footer__link" href="#">Инструменты, оснастка</a>
          <a class="footer__link" href="#">Метизы, крепеж</a>
          <a class="footer__link" href="#">Спецодежда и хоз. товары</a>
        </div>

        <div class="footer__col">
          <a class="footer__link footer__link--title" href="#">О компании</a>
          <a class="footer__link" href="#">О группе компаний</a>
          <a class="footer__link" href="#">Вакансии</a>
          <a class="footer__link" href="#">Реквизиты</a>
          <a class="footer__link" href="#">Сотрудничество</a>

          <a class="footer__link footer__link--title" href="#">Услуги</a>
          <a class="footer__link" href="#">Доставка товара</a>
          <a class="footer__link" href="#">Разгрузка</a>
          <a class="footer__link" href="#">Подъем на этаж</a>
          <a class="footer__link" href="#">Распил/резка</a>
          <a class="footer__link" href="#">Колеровка</a>

          <a class="footer__link footer__link--title" href="#">Интересное</a>
          <a class="footer__link" href="#">Статьи</a>
          <a class="footer__link" href="#">Обзоры</a>
          <a class="footer__link" href="#">Советы</a>
        </div>

        <div class="footer__col">
          <a class="footer__link footer__link--title" href="#">Аккаунт</a>
          <a class="footer__link" href="#">Профиль</a>
          <a class="footer__link" href="#">Заказы</a>
          <a class="footer__link" href="#">История заказов</a>
          <a class="footer__link" href="#">Черновики заказа</a>
          <a class="footer__link" href="#">Баланс САТов</a>

          <a class="footer__link footer__link--title" href="#">Магазины</a>
          <a class="footer__link" href="#">Литовская ул., 15</a>
          <a class="footer__link" href="#">Индустриальный пр., 71</a>
          <a class="footer__link" href="#">Лахтинский пр., 139</a>
          <a class="footer__link" href="#">Касимовская ул., 3</a>
          <a class="footer__link" href="#">Хрулева ул., 12</a>
          <a class="footer__link" href="#">Краснопутиловская ул, 31</a>
        </div>

        <div class="footer__col">
          <a class="footer__link footer__link--title" href="#">Покупателям</a>
          <a class="footer__link" href="#">Акции</a>
          <a class="footer__link" href="#">Как заказать</a>
          <a class="footer__link" href="#">Подарочные карты</a>
          <a class="footer__link" href="#">Обмен, возврат товара</a>
          <a class="footer__link" href="#">Наши бренды</a>
          <a class="footer__link" href="#">Наши партнеры</a>
          <a class="footer__link" href="#">Оплата</a>
          <a class="footer__link" href="#">Обратная связь</a>

          <div class="footer__payment payment">
            <div class="payment__list">
              <a class="payment__item" href="#" aria-label="оплата с помощью maestro"><img src="img/maestro.png" alt="Maestro" width="52" height="33"></a>
              <a class="payment__item" href="#" aria-label="оплата с помощью visa"><img src="img/visa.png" alt="Visa" width="52" height="33"></a>
              <a class="payment__item" href="#" aria-label="оплата с помощью mastercard"><img src="img/mastercard.png" alt="Mastercard" width="52" height="33"></a>
              <a class="payment__item" href="#" aria-label="оплата с помощью Diners Club"><img src="img/diners_club.png" alt="Diners Club" width="56" height="36"></a>
            </div>

            <p class="payment__link">
              <svg width="29" height="26"><use xlink:href="img/sprite_auto.svg#card"></use></svg>
              <a href="#">Карта сайта</a>
            </p>
          </div>
        </div>

        <div class="footer__col">
          <img src="img/logo-white.png" alt="Логотип Сатурн" width="153" height="45">
        </div>
        <div class="footer__col footer__col--4">Группа компаний "Сатурн" - крупнейший федеральный оператор на рынке строительных и отделочных материалов, включает в себя 49 торговых площадок в 23 городах России. За 20 лет успешной работы компания стала лидером в своем сегменте. В настоящий момент компания поставляет 15 000 наименований товаров на строительные объекты по всей стране.</div>
        <div class="footer__col footer__col--5 footer__col--center">ООО “Сатурн”, 2016</div>

      </div>

      <div class="footer__bottom">
        <div class="footer__col-bottom">
          <svg width="46" height="36"><use xlink:href="img/sprite_auto.svg#assortment"></use></svg>
          <p>Правильный ассортимент</p>
        </div>
        <div class="footer__col-bottom">
          <svg width="40" height="41"><use xlink:href="img/sprite_auto.svg#label"></use></svg>
          <p>Правильная цена</p>
        </div>
        <div class="footer__col-bottom">
          <svg width="37" height="35"><use xlink:href="img/sprite_auto.svg#checked"></use></svg>
          <p>Наличие на складе</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__mobile">
    <div class="footer__mobile-top">
      <a class="footer__mobile-link" href="#">Оплата заказа картой</a>
      <svg width="29" height="19"><use xlink:href="img/sprite_auto.svg#card-hand"></use></svg>
    </div>
    <div class="footer__mobile-bottom">
      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__mobile-link"  href="tel:88123222266">8 (812) 322-22-66</a>
        </li>
        <li class="footer__item">
          <a class="footer__mobile-link" href="#">Обратная связь</a>
        </li>
        <li class="footer__item">
          <a class="footer__mobile-link" href="#">Санкт-Петербург</a>
        </li>
        <li class="footer__item">
          <a class="footer__mobile-link" href="#">Полная версия сайта</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
