// media breakpoints

$width-tablet: 768px;
$width-min: 320px;

// Retina 2x

$retina-dpi: 192dpi;
$retina-dppx: 2dppx;

//colors
$white: #ffffff;
$dark-blue: #03152a;
$footer-blue: #052141;
$dark-blue-font: #010c2c;
$red: #ed2126;
$grey: #d9d9d9;

//fonts

$main-font: "HelveticaNeue", "Arial", sans-serif;
